@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    /* Background/Foreground Colors */
    --gb-black:   #282828;
    --gb-white:  #ebdbb2;
    /* Basic Colors */
    --gb-red:    #cc241d;
    --gb-green:  #98971a;
    --gb-yellow: #d79921;
    --gb-blue:   #458588;
    --gb-purple: #b16286;
    --gb-aqua:   #689d6a;
    --gb-gray:   #928374;
    --gb-orange: #d65d0e;
    /* Brighter/Washed Out Variants */
    --gb-red-bright:    #fb4934;
    --gb-green-bright:  #b8bb26;
    --gb-yellow-bright: #fabd2f;
    --gb-blue-bright:   #83a598;
    --gb-purple-bright: #d3869b;
    --gb-aqua-bright:   #8ec07c;
    --gb-gray-bright:   #a89984;
    --gb-orange-bright: #fe8019;
    /* From https://github.com/morhetz/gruvbox (MIT/X11 License) */

    /* Sizes */
    --border-radius: 0.5rem;
    --thumb-size: 100px;

    /* Colors */
    --foreground-color: var(--gb-white);
    --background-color: var(--gb-black);
    --sticky-color: var(--gb-green);
    --sticky-hover-color: var(--gb-green-bright);
    --nsfw-color: var(--gb-red);
    --spoiler-color: var(--gb-aqua);
    --title-color: var(--gb-orange);
    --title-hover-color: var(--gb-orange-bright);
    --link-color: var(--gb-blue);
    --link-hover-color: var(--gb-blue-bright);
    --important-color: var(--gb-red);
    --important-hover-color: var(--gb-red-bright);

    /* Elements */
    --border: 2px solid var(--foreground-color);
    --font-family: 'Roboto', sans-serif;

    font-family: var(--font-family);
    font-size: 14px;
    font-variant-ligatures: normal;
}

body {
    background-color: var(--background-color);
    color: var(--foreground-color);
    text-align: center;
}

label {
    word-spacing: 0;
}

input {
    display: inline;
    border-radius: 0;
    border: none;
    background-color: var(--foreground-color);
    color: var(--background-color);
    font-family: var(--font-family);
}

input[type="text"] {
    height: 1.2rem;
    font-family: monospace;
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    display: inline-block;
    height: 0.6em;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: var(--border);
    background-color: var(--background-color);
    cursor: pointer;
    vertical-align: baseline;
    margin-right: 0.5em;
    margin-left: 0.2em;
}
input[type="radio"]:checked {
background-color: var(--foreground-color);
}

input[type="button"] {
    height: 1.2rem;
    cursor: pointer;
    box-sizing: content-box;
}

input:focus {
    outline: none;
}

a, a:visited, .link-button {
    display: inline;
    height: unset;
    padding: 0;
    background-color: transparent;
    color: var(--link-color);
    text-decoration: none;
}

a:hover, .link-button:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
}

.post-container {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: var(--thumb-size) auto;
    gap: 1rem;
    width: 100%;
    margin-top: 1rem;
    column-gap: 1rem;
    border-bottom: var(--border);
}
.post-container-left {
    grid-row: 1;
    grid-column: 1;
    user-select: none;
}
.post-container-right {
    grid-row: 1;
    grid-column: 2;
}
.post-container-bottom {
    grid-row: 2;
    grid-column: 1 / 3;
}

.post-score {
    background-color: var(--foreground-color);
    color: var(--background-color);
    text-align: center;
    font-weight: bold;
    height: 1rem;
    font-size: 0.8rem;
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
    border: var(--border);
}

.post-thumbnail, .post-no-thumbnail {
    position: relative;
    box-sizing: border-box;
    width: var(--thumb-size);
    height: var(--thumb-size);
    background-color: var(--foreground-color);
    overflow: hidden;
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    border: var(--border);
}
.post-thumbnail img {
    position: absolute;
    width: 100%;
    height: auto;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.post-no-thumbnail {
    background-color: var(--background-color);
}

.post-title, .post-title:visited {
    display: block;
    max-width: 95%;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--title-color);
}
.post-title:hover {
    color: var(--title-hover-color);
    text-decoration: underline;
}
.post-title.sticky-post, .post-title.sticky-post:visited {
    color: var(--sticky-color);
}
.post-title.sticky-post:hover {
    color: var(--sticky-hover-color);
    text-decoration: underline;
}


.post-byline {
    font-size: 0.8rem;
    margin: 0.2rem 0;
}
.post-author::before {
    content: "u/";
}
.post-subreddit::before {
    content: "r/";
}
.post-nsfw-tag {
    color: var(--nsfw-color);
    font-weight: bold;
}
.post-spoiler-tag {
    color: var(--spoiler-color);
    font-weight: bold;
}

.post-links {
    display: inline-block;
    margin-right: 1rem;
    font-weight: bold;
}

.post-preview-container {
    height: 33vh;
    aspect-ratio: 16 / 9;
    overflow: auto;
    resize: both;
    box-sizing: border-box;
    min-width: var(--thumb-size);
    min-height: var(--thumb-size);
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: var(--foreground-color);
    margin-bottom: 1rem;
}

.preview-close {
    color: var(--important-color);
    font-weight: bold;
}
.preview-close:hover {
    color: var(--important-hover-color);
}

#main-page {
    display: inline-block;
    width: 80%;
    text-align: left;
    margin-bottom: 25vh;
}

#navigator {
    text-align: center;
    border-bottom: var(--border);
    padding: 0.25rem 0 1rem 0;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    line-height: 2em;
}

#subreddit-name {
    width: 10em;
    margin-right: 0.5em;
}

#next-page-link {
    display: block;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
}