:root {
    /* Background/Foreground Colors */
    --gruvbox-light0: #fbf1c7;
    --gruvbox-light1: #ebdbb2;
    --gruvbox-light2: #d5c4a1;
    --gruvbox-light3: #bdae93;
    --gruvbox-light4: #a89984;
    --gruvbox-dark0: #282828;
    --gruvbox-dark1: #3c3836;
    --gruvbox-dark2: #504945;
    --gruvbox-dark3: #665c54;
    --gruvbox-dark4: #7c6f64;
    /* Basic Colors */
    --gruvbox-red: #cc241d;
    --gruvbox-green: #98971a;
    --gruvbox-yellow: #d79921;
    --gruvbox-blue: #458588;
    --gruvbox-purple: #b16286;
    --gruvbox-aqua: #689d6a;
    --gruvbox-gray: #928374;
    --gruvbox-orange: #d65d0e;
    /* Brighter/Washed Out Variants */
    --gruvbox-red-bright: #fb4934;
    --gruvbox-green-bright: #b8bb26;
    --gruvbox-yellow-bright: #fabd2f;
    --gruvbox-blue-bright: #83a598;
    --gruvbox-purple-bright: #d3869b;
    --gruvbox-aqua-bright: #8ec07c;
    --gruvbox-gray-bright: #a89984;
    --gruvbox-orange-bright: #fe8019;
    /* Defaults (Dark Mode) */
    --gruvbox-foreground0: var(--gruvbox-light0);
    --gruvbox-foreground1: var(--gruvbox-light1);
    --gruvbox-foreground2: var(--gruvbox-light2);
    --gruvbox-foreground3: var(--gruvbox-light3);
    --gruvbox-foreground4: var(--gruvbox-light4);
    --gruvbox-background0: var(--gruvbox-dark0);
    --gruvbox-background1: var(--gruvbox-dark1);
    --gruvbox-background2: var(--gruvbox-dark2);
    --gruvbox-background3: var(--gruvbox-dark3);
    --gruvbox-background4: var(--gruvbox-dark4);
    /*
     * From https://github.com/morhetz/gruvbox
     * (MIT/X11 License)
     */

    /* Whole site parameters */
    --border-radius: 2px;
    --thumb-size: 100px;
    --border-thickness: 2px;
    --box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.3);

    /* Defaults */
    --font-family: sans-serif;
    font-family: var(--font-family);
    font-size: 14px;
}

/* Light Mode Changes */
@media (prefers-color-scheme: light) {
    :root {
        --gruvbox-foreground0: var(--gruvbox-dark0) !important;
        --gruvbox-foreground1: var(--gruvbox-dark1) !important;
        --gruvbox-foreground2: var(--gruvbox-dark2) !important;
        --gruvbox-foreground3: var(--gruvbox-dark3) !important;
        --gruvbox-foreground4: var(--gruvbox-dark4) !important;
        --gruvbox-background0: var(--gruvbox-light0) !important;
        --gruvbox-background1: var(--gruvbox-light1) !important;
        --gruvbox-background2: var(--gruvbox-light2) !important;
        --gruvbox-background3: var(--gruvbox-light3) !important;
        --gruvbox-background4: var(--gruvbox-light4) !important;
        --box-shadow: 0 0 10px -2px rgba(255, 255, 255, 0.8);
    }
}

html {
    width: 100%;
}

body {
    background-color: var(--gruvbox-background0);
    color: var(--gruvbox-foreground1);
    text-align: center;
}

label {
    word-spacing: 0;
}

label {
    cursor: pointer;
}

input {
    display: inline;
    border-radius: 0;
    border: var(--border-thickness) solid var(--gruvbox-foreground1);
    background-color: var(--gruvbox-foreground1);
    color: var(--gruvbox-background0);
    font-family: var(--font-family);
    border-radius: var(--border-radius);
}

input[type="text"] {
    background-color: var(--gruvbox-background2);
    color: var(--gruvbox-foreground0);
    height: 1.1rem;
    box-sizing: content-box;
    padding: 0.1rem 0.25rem;
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    height: 0.6em;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    border: var(--border-thickness) solid var(--gruvbox-foreground1);
    background-color: var(--gruvbox-background0);
    cursor: pointer;
    vertical-align: baseline;
    margin-right: 0.5em;
    margin-left: 0.15em;
}

input[type="radio"]:checked {
    background-color: var(--gruvbox-foreground1);
}

input[type="button"] {
    height: 1.1rem;
    cursor: pointer;
    box-sizing: content-box;
    padding: 0.1rem 0.5rem;
}

input:focus,
input[type="button"]:hover {
    outline-style: solid;
    outline-color: var(--gruvbox-yellow);
    outline-width: var(--border-thickness);
    outline-offset: 0;
}

a,
a:visited,
input[type="button"].link-button {
    display: inline;
    height: unset;
    border: none;
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    color: var(--gruvbox-blue);
    text-decoration: none;
}

input[type="button"].link-button.not-available {
    color: var(--gruvbox-gray);
    cursor: not-allowed;
}

input[type="button"].link-button.not-available:hover {
    color: var(--gruvbox-gray);
    text-decoration: none;
    cursor: not-allowed;
}

a:hover,
input[type="button"].link-button:hover {
    color: var(--gruvbox-blue-bright);
    text-decoration: underline;
    outline: none;
}

input[type="button"].link-button:focus {
    outline: none;
}

::selection,
::-moz-selection {
    color: var(--gruvbox-dark0);
    background-color: var(--gruvbox-purple-bright);
    border-radius: var(--border-radius);
}

.post-container {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: var(--thumb-size) auto;
    gap: 1rem;
    margin-top: 1rem;
    column-gap: 1rem;
    border-bottom: var(--border-thickness) solid var(--gruvbox-background2);
}

.post-container-left {
    grid-row: 1;
    grid-column: 1;
    user-select: none;
}

.post-container-right {
    grid-row: 1;
    grid-column: 2;
}

.post-container-bottom {
    grid-row: 2;
    grid-column: 1 / 3;
}

.post-thumb-box {
    box-sizing: border-box;
    border: var(--border-thickness) solid var(--gruvbox-background1);
    background-color: var(--gruvbox-background1);
    border-radius: var(--border-radius);
    width: var(--thumb-size);
    overflow: hidden;
    box-shadow: var(--box-shadow);
}

.post-score {
    text-align: center;
    max-width: 100%;
    font-size: 0.9rem;
    padding: 0.2rem 0;
}

.post-thumbnail,
.post-no-thumbnail {
    width: 100%;
    overflow: hidden;
    max-width: 100%;
}

.post-thumbnail img {
    border-radius: var(--border-radius);
    display: block;
    width: 100%;
    height: auto;
}

.post-no-thumbnail {
    border-radius: var(--border-radius);
    background-color: var(--gruvbox-background1);
    height: 5rem;
    width: 100%;
}

.post-title,
.post-title:visited {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--gruvbox-orange);
}

.post-title:hover {
    color: var(--gruvbox-orange-bright);
    text-decoration: underline;
}

.post-title.sticky-post,
.post-title.sticky-post:visited {
    color: var(--gruvbox-green);
}

.post-title.sticky-post:hover {
    color: var(--gruvbox-green-bright);
    text-decoration: underline;
}

.post-byline {
    font-size: 0.8rem;
    margin: 0.2rem 0;
}

.post-author::before {
    content: "u/";
}

.post-subreddit::before {
    content: "r/";
}

.post-nsfw-tag {
    color: var(--gruvbox-red);
    font-weight: bold;
    cursor: help;
}

.post-nsfw-tag:hover {
    color: var(--gruvbox-red-bright);
}

.post-nsfw-tag:hover::after {
    content: ": this content may be inappropriate for some";
    font-weight: normal;
}

.post-spoiler-tag {
    color: var(--gruvbox-aqua);
    font-weight: bold;
    cursor: help;
}

.post-spoiler-tag:hover {
    color: var(--gruvbox-aqua-bright);
}

.post-spoiler-tag:hover::after {
    content: ": this content may contain spoilers";
    font-weight: normal;
}

.post-links {
    display: inline-block;
    margin-right: 0.5em;
    font-weight: bold;
    font-size: 1rem;
}

.post-comments-container,
.post-preview-container {
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    border: var(--border-thickness) solid var(--gruvbox-background1);
    border-radius: var(--border-radius);
    background-color: var(--gruvbox-background1);
    margin-bottom: 1rem;
    box-shadow: var(--box-shadow);
}

.post-preview-container-rawhtml,
.post-preview-container-selftext {
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    resize: vertical;
    overflow: auto;
    padding: 0 1rem;
    border-radius: inherit;
}

.post-preview-container-rawhtml {
    border: var(--border-thickness) solid var(--gruvbox-purple);
    border-radius: var(--border-radius);
}

.post-preview-container-media {
    position: relative;
    display: block;
    width: 100%;
    height: 75vh;
    overflow: hidden;
    resize: vertical;
    min-height: 5rem;
    border-radius: inherit;
}


.post-preview-container-media iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
    border-radius: inherit;
}

#main-page {
    display: inline-block;
    width: clamp(25rem, 80%, 100rem);
    text-align: left;
}

#navigator {
    text-align: center;
    border-bottom: var(--border-thickness) solid var(--gruvbox-background2);
    padding: 0.25rem 0 1rem 0;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    line-height: 2em;
}

#subreddit-label {
    font-weight: bold;
    font-size: 1em;
}

#subreddit-name {
    width: 10em;
    margin-right: 0.5em;
    margin-left: 1px;
}

#next-page-link {
    display: block;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
}

/* Pi easter egg */
#pi-easter-egg-cont {
    text-align: right;
    margin: 1rem;
}

#pi-easter-egg,
#pi-easter-egg:visited {
    font-family: serif;
    font-size: 1.2rem;
    padding: 1rem;
    color: var(--gruvbox-background1);
}

#pi-easter-egg:hover {
    color: var(--gruvbox-blue-bright);
}

/* Reddit Markdown Styling */
.md .md-spoiler-text {
    background-color: var(--gruvbox-aqua);
    color: transparent;
    cursor: none;
    font-weight: bold;
    border-radius: var(--border-radius);
}

.md .md-spoiler-text:hover {
    background-color: transparent;
    color: var(--gruvbox-aqua);
}

.md hr {
    height: var(--border-thickness);
    background-color: var(--gruvbox-foreground1);
    border: none;
}

.md table {
    border-collapse: collapse;
    border: var(--border-thickness) solid var(--gruvbox-foreground1);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.md td,
.md th {
    padding: 0.2em 0.5em;
    border-right: var(--border-thickness) solid var(--gruvbox-foreground1);
    border-bottom: var(--border-thickness) dotted var(--gruvbox-foreground1);
}

.md code,
.md pre {
    font-family: monospace;
    color: var(--gruvbox-green);
}

.md blockquote {
    display: block;
    border-left: var(--border-thickness) solid var(--gruvbox-foreground1);
    padding-left: 1rem;
    margin-left: 0rem;
}