@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;700&display=swap');

:root {
    /* Background/Foreground Colors */
    --gb-black:   #282828;
    --gb-white:  #ebdbb2;
    /* Basic Colors */
    --gb-red:    #cc241d;
    --gb-green:  #98971a;
    --gb-yellow: #d79921;
    --gb-blue:   #458588;
    --gb-purple: #b16286;
    --gb-aqua:   #689d6a;
    --gb-gray:   #928374;
    --gb-orange: #d65d0e;
    /* Brighter/Washed Out Variants */
    --gb-red-bright:    #fb4934;
    --gb-green-bright:  #b8bb26;
    --gb-yellow-bright: #fabd2f;
    --gb-blue-bright:   #83a598;
    --gb-purple-bright: #d3869b;
    --gb-aqua-bright:   #8ec07c;
    --gb-gray-bright:   #a89984;
    --gb-orange-bright: #fe8019;
    /* From https://github.com/morhetz/gruvbox (MIT/X11 License) */

    /* Sizes */
    --radius-radius: 0.5rem;
    --thumb-size: 100px;

    /* Colors */
    --foreground-color: var(--gb-white);
    --background-color: var(--gb-black);
    --sticky-color: var(--gb-green);
    --sticky-hover-color: var(--gb-green-bright);
    --nsfw-color: var(--gb-red);
    --spoiler-color: var(--gb-aqua);
    --title-color: var(--gb-orange);
    --title-hover-color: var(--gb-orange-bright);
    --link-color: var(--gb-blue);
    --link-hover-color: var(--gb-blue-bright);

    /* Elements */
    --border: 2px solid var(--foreground-color);

    font-family: 'Fira Code', monospace;
    font-size: 14px;
    font-variant-ligatures: normal;
}

body {
    background-color: var(--background-color);
    color: var(--foreground-color);
    text-align: center;
}

a, a:visited {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
}

#main-page {
    display: inline-block;
    width: 80%;
    text-align: left;
}

.post-container {
    display: flex;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: var(--border);
}
.post-container-left {
    width: var(--thumb-size);
    margin-right: 0.5rem;
}
.post-container-right {
    margin-left: 0.5rem;
    flex: 2;
}

.post-score {
    background-color: var(--foreground-color);
    color: var(--background-color);
    text-align: center;
    font-weight: bold;
    height: 1rem;
    font-size: 0.8rem;
    border-top-right-radius: var(--radius-radius);
    border-top-left-radius: var(--radius-radius);
    border: var(--border);
}

.post-thumbnail, .post-no-thumbnail {
    position: relative;
    box-sizing: border-box;
    width: var(--thumb-size);
    height: var(--thumb-size);
    background-color: var(--foreground-color);
    overflow: hidden;
    border-bottom-right-radius: var(--radius-radius);
    border-bottom-left-radius: var(--radius-radius);
    border: var(--border);
}
.post-thumbnail img {
    position: absolute;
    width: 100%;
    height: auto;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.post-no-thumbnail {
    background-color: var(--background-color);
}

.post-title, .post-title:visited {
    display: block;
    max-width: 95%;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--title-color);
}
.post-title:hover {
    color: var(--title-hover-color);
    text-decoration: underline;
}
.post-title.sticky-post, .post-title.sticky-post:visited {
    color: var(--sticky-color);
}
.post-title.sticky-post:hover {
    color: var(--sticky-hover-color);
    text-decoration: underline;
}


.post-byline {
    font-size: 0.8rem;
    margin: 0.2rem 0;
}
.post-author::before {
    content: "u/";
}
.post-subreddit::before {
    content: "r/";
}
.post-nsfw-tag {
    color: var(--nsfw-color);
    font-weight: bold;
}
.post-spoiler-tag {
    color: var(--spoiler-color);
    font-weight: bold;
}

.post-links {
    display: inline-block;
    margin-right: 1.2rem;
    font-weight: bold;
}